#main-container {
	display: flex;
	flex-direction: column;
}

.navigation-container {
	padding: 15px;
	padding-bottom: 0;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	box-shadow: 3px 3px 6px #bbb;
}

.search-results-section{
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	min-height: 75vh; 
	display: flex;
	flex-direction: column;
	
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.playlist-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	min-height: 300px;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.releases-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	min-height: 300px;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}


.chart-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.genres-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.artists-container {	
	margin: 1%;
	padding: 15px;
	margin-bottom: 0; 
	padding-left: 23px;
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.upload-container{
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}


#navigation {
	display: flex;
	padding-bottom: 0px;
	margin-top: 1%;
	margin-right: 3%;  
}

#navigation-title {
	font-family: Cabin;
	font-weight: 900;
	font-size: 1.5em;
	color: var(--color6);
}

@media screen and (min-width: 1000px) {
	#releases:before {
		content: "new ";
	}
}

.navigation-ref {
	transition: 0.25s;
	padding-bottom: 10px;
	font-family: Montserrat;
	font-size: 1em;
	text-transform: uppercase;
	color: #555;
	margin-right: 5%; 
	border-bottom: 3px solid #fff;
}

.navigation-ref:hover {
	transition: 0.25s;
	color: var(--color6);
	border-bottom: 3px solid var(--primaryColor);
}


.playlists-div {	
	margin-top: 2%;
	display: flex;
	flex-flow: wrap;
}

.playlists-list{
	display: flex;
	flex-wrap: wrap;		
	justify-content: flex-start;
}

.playlist-name-link:hover {
	color: var(--primaryColor);
}
.playlist-name-link{
	color: var(--color6);
}

.playlist-div{
	position: relative;
}

.playlist-play-image{
	height: 3.5em;
	width: 3.5em;
	transition: .25s ease;
}

.playlist-middle-image {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.playlist-list-item {
	transition: .25s ease;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 30px 10px;
	height: 12.5em;
	width: 10em;
	list-style-type: none;
	/*border: 2px solid var(--color2);*/
}

.playlist-list-item:hover .image-add-playlist {
  opacity: 1;
}

.playlist-list-item:hover .playlist-middle-image {
  opacity: 1;
}

.playlist-list-item:hover {
	transition: .25s ease;
	/*border: 2px solid var(--color1);*/
	
	/*border: 2px solid #f3f3f3;*/
	border-radius: 5px;
	box-shadow: 3px 3px 6px #aaa;
}
.playlist-list-item:hover{
	transition: .25s ease;
	transform: scale(1.07);
}

.add-playlist-image {
	border-radius: 5px;
	height: 10em;
	width: 10em;	
}


.chart-items {
	display: flex;
	flex-flow: column wrap;
	height: 300px;
}

.song-item{
	transition: .25s ease;
	padding: 5px;
	padding-bottom: 2px;
	margin-top: 5px;
	margin-left: 10px; 
	display: grid;
	grid-template-columns: auto auto auto; 
	justify-content: start;
	border:  2px solid var(--backgroundLightColor);
}

.image-song-div{
	grid-column: 2;
	grid-row: 1 / 3;
	position: relative;
}

.image-song{
	height: 2.5em;
	width: 2.5em;
	transition: .25s ease;
	border-radius: 2px;
}

.middle {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.song-item:hover {
	transition: .25s ease;
	border: 2px solid var(--primaryColor);
	border-radius: 5px;
}

.song-item:hover .image-song {
  opacity: 0.3;
}

.song-item:hover .middle {
  opacity: 1;
}

.song-play-image {
  height: 2.5em;
  width: 2.5em;
}

.chart-position-text{
	width: 30px;
	margin: auto;
	grid-row: 1 / 3;
	grid-column: 1;
}

.song-name {
	grid-column: 3;
	margin-left: 5px;
}

.song-author {
	grid-column: 3;
	grid-row: 2;
	margin-left: 5px;
}

@media only screen and (max-width: 1024px){
	.chart-items{
		height: 900px;
	}
	.chart-position-text{
		margin-right: 1em;
	}
}


#genre-selection{
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

.genre-selector-div{
	height: 40px;
	margin-top: 20px;
}

#upload-second-p{
	margin-top: 20px;
}

.genre-selector-checkbox{
	visibility: hidden;
}

.genre-selector-label{
	padding: 5px 10px;
}

.genre-selector-checkbox + .genre-selector-label{
	transition: .25s ease;
	color: var(--color1);
	border: 2px solid var(--primaryColor); 
	border-radius: 666px;
	background-color: var(--backgroundLightColor);
}

.genre-selector-checkbox:checked + .genre-selector-label{
	transition: .25s ease;
	background-color: #f45c43;
	color: var(--backgroundLightColor);
	border: 2px solid var(--primaryColor); 
}

#genres-select-button{
	width: 100px;
	margin-left: 15px; 
}

@media only screen and (max-width: 1024px){
	#genres-select-button{
		margin: auto;
		margin-top: 1em;
	}
}


.artists-list{
	display: flex;
	flex-flow: row wrap;	
}

.artist-list-item{
	transition: .25s ease;
	display: flex;
	direction: row;
	padding: 5px;
	margin: 5px 5px;
	width: 31.5%;
	border: 2px solid var(--backgroundLightColor);
}

.artist-list-item:hover {
	transition: .25s ease;
	border: 2px solid var(--primaryColor);
	border-radius: 5px;
}

.middle-artist {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.artist-play-button {
  height: 40px;
  width: 40px;
}


.artist-list-item:hover .artist-image {
  opacity: 0.3;
}

.artist-list-item:hover .middle-artist {
  opacity: 1;
}

.artist-image-div{
	position: relative;
}

.artist-image{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.artist-text{
	margin: auto 10px;
}

#upload-main-button{
	width: 100px;
	margin-left: 15px; 
	margin-top: 20px;
}

