.audio-player-section {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #39b54a;
	text-align: center;
	padding: 10px 0px;
	background-color: var(--backgroundLightColor);
	box-shadow: 3px -3px 6px #bbb;
}