.artists-list{
	display: flex;
	flex-flow: row wrap;
	
}

.artist-list-item{
	transition: .25s ease;
	display: flex;
	direction: row;
	padding: 5px;
	margin: 5px 5px;
	width: 30%;
	border: 2px solid var(--color2);
}

.artist-list-item:hover {
	transition: .25s ease;
	border: 2px solid #ffdb4d;
}

.middle-artist {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artist-play-button {
  height: 40px;
  width: 40px;
}


.artist-list-item:hover .artist-image {
  opacity: 0.3;
}

.artist-list-item:hover .middle-artist {
  opacity: 1;
}

.artist-image-div{
	position: relative;
}

.artist-image{
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.artist-text{
	margin: auto 10px;
}
