html { 
	overflow: hidden; 
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 83.5vh;
}

form {
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	background-color: #f3f3f3;	
}

form input {
	font-size: 14px;
  	font-family: Verdana;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #333333;
	border-radius: 5px;
	outline: none;
	transition: 0.4s;
}

p{
	font-size: 18px;
  	font-family: Verdana;
}

.header {
	display: flex;
	justify-content:space-between; 
}

#header-left-part{
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
	padding-top: 16px;
	padding-bottom: 15px;
	font-family: Verdana;
	font-size: 30px;
}

#div-music-player-name{
	color: var(--color2);
}

#block-auth {
	display: flex;
	font-family: Verdana;
	justify-content: flex-end;
	align-items: center;
	margin-right: 10px;
	font-size: 14px;
	color: var(--color2);
}



.auth-text {
 	font-family: Verdana;
	font-size: 40px;
	color: var(--color2);
}

.div-flex-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 6%;
}

.div-help-text {
	font-family: Cabin;
	font-size: 24px;
}
.description{
	font-family: Montserrat;
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 50px;
}

.backPage{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;	
	filter: brightness(20%);
	background-image: url(../images/Background.png);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}

#login-btn{
	margin-top: 25%
}

.btn-dark-red:hover {  
	color: #333333;
}

