html {
	scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

:root {
  /*header, active links*/
  --color1: #eb3349;
  /*background*/	
  --color2: #fff;
  /*songs and playlists desc text*/
  --color3: #999999;
  /*frames*/
  --color4: #e00000;
  /**/
  --color5: #ba0020;
  /*text, links*/
  --color6: #000000;
}



a { 
	text-decoration: none;
	outline: none;
} 

@media only screen and (max-width: 1024px) {
  header{
    font-size: 32px;
  }
  body{
    font-size: 32px;
  }
  footer{
    font-size: 32px;
  }
  
}

body {
	background-color: #f1f1f1;
}


footer {
	width: 100%;
	background-color: #fff;
}

