/* btn */
.btn-animated {
  margin: 10px 10px;  
  padding: 5px 7px;
  border-radius: 50px;
  border: 2px solid;
  font: 14px Verdana;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
  color: #f3f3f3;
  border-color: #f3f3f3;
  background: -webkit-linear-gradient(left, #f3f3f3, #f3f3f3) no-repeat;
  background: linear-gradient(to right, #f3f3f3, #f3f3f3) no-repeat;
  background-size: 0% 100%;
}
.btn-animated:hover {
  background-size: 100% 100%;
  color: #333333;
}

/* btn */
.btn-red {
  margin: 5px 0px;  
  padding: 5px 7px;
  border-radius: 50px;
  border: 2px solid;
  font: 14px Verdana;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
  text-align: center;
  color: var(--color2);
  border-color: var(--color1);
  background-color: var(--color1);
}
.btn-red:hover {
  background-color: var(--color5);
}



.btn-light-red {
  margin: 5px 0px;  
  padding: 5px 7px;
  border-radius: 50px;
  border: 2px solid;
  font: 14px Verdana;
  background: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: .25s;
  color: #000;
  border-color: var(--color1);
  background-color: #f3f3f3;
}

.btn-light-red:hover {
  color: #000;
}