#footer-div { 
	display: flex;
	justify-content: space-between;
}

#footer-nav {
	margin: 15px 20px;
}

.get-back-title {
	font-family: Cabin;
	font-size: 1em;
	margin-bottom: 10px;
}

.get-back-list {
	font-family: Montserrat;
	font-size: 0.875em;
}

.get-back-list-item{
	display: inline;
	margin-right: 10px;
}

.get-back-link{
	color: #666;
}

.get-back-link:hover {
	color: #000;
}

.send-bugs-link{
	font-family: Montserrat;
	font-size: 1em;
	text-align: right;
	color: var(--color6);
}

.send-bugs-link:hover{
	color: var(--color2);
}

#credits-div{
	padding: 0.875em; 
	margin-left: auto;
}

.credits{
	font-family: Montserrat;
	font-size: 0.875em;
	color: var(--color6);
}
