#genre-selection{
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

.genre-selector-div{
	height: 40px;
	margin-top: 20px;
}

.genre-selector-checkbox{
	visibility: hidden;
}

.genre-selector-label{
	padding: 5px 10px;
}

.genre-selector-checkbox + .genre-selector-label{
	transition: .25s ease;
	color: var(--color1);
	border: 2px solid var(--color1); 
	border-radius: 15px;
	background-color: var(--color2);
}

.genre-selector-checkbox:checked + .genre-selector-label{
	transition: .25s ease;
	background-color: #ffd0d0;
	border: 2px solid var(--color1); 
}

#genres-select-button{
	width: 100px;
	margin-left: 15px; 
}