#genre-selection{
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

.genre-selector-div{
	height: 40px;
	margin-top: 20px;
}

.genre-selector-checkbox{
	visibility: hidden;
}

.genre-selector-label{
	padding: 5px 10px;
}

.genre-selector-checkbox + .genre-selector-label{
	color: #f00000;
	border: 2px solid #f00000; 
	border-radius: 15px;
	background-color: var(--color2);
}

.genre-selector-checkbox:checked + .genre-selector-label{
	color: var(--color2);
	background-color: #f00000;
	border-radius: 15px;
	border: 2px solid #f00000; 
}

#genres-select-button{
	width: 100px;
	margin-left: 15px; 
}