.div-li-button {	
	margin-top: 2%;
}

.box-items{
	display: flex;
	flex-wrap: wrap;		
	justify-content: flex-start;
}

.playlist-name-link:hover {
	color: #f00000;
}
.playlist-name-link{
	color: var(--color6);
}

.playlist-mame:hover {
	color: #f00000;
}

.playlist-div{
	position: relative;
}

.play-button{
	height: 40px;
	width: 40px;
	transition: .25s ease;
}

.middle-playlist {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.li-buttom {
	transition: .25s ease;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 30px 10px;
	height: 200px;
	width: 160px;
	list-style-type: none;
	border: 2px solid var(--color2);
}

.li-buttom:hover .image-add-playlist {
  opacity: 0.3;
}

.li-buttom:hover .middle-playlist {
  opacity: 1;
}

.li-buttom:hover {
	transition: .25s ease;
	border: 2px solid #ffdb4d;
}

.image-add-playlist {
	height: 160px;
	width: 160px;	
}