#navigation {
	display: flex;
	padding-bottom: 0px;
	margin-top: 1%;
	margin-right: 3%;  
}

#navigation-title {
	font-family: Cabin;
	font-weight: 900;
	font-size: 1.5em;
	color: var(--color6);
}

@media screen and (min-width: 1000px) {
	#releases:before {
		content: "new ";
	}
}

.navigation-ref {
	transition: 0.25s;
	padding-bottom: 10px;
	font-family: Montserrat;
	font-size: 1em;
	text-transform: uppercase;
	color: #555;
	margin-right: 5%; 
	border-bottom: 3px solid #fff;
}

.navigation-ref:hover {
	transition: 0.25s;
	color: var(--color6);
	border-bottom: 3px solid var(--primaryColor);
}

