#main-container {
	display: flex;
	flex-direction: column;
}

.navigation-container {
	padding: 15px;
	padding-bottom: 0;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	box-shadow: 3px 3px 6px #bbb;
}

.playlist-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	min-height: 300px;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.releases-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	min-height: 300px;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.chart-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.genres-container {
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	margin-bottom: 0; 
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

.artists-container {	
	margin: 1%;
	padding: 15px;
	padding-left: 23px;
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	background-color: var(--backgroundLightColor);
	border-radius: 5px;
	box-shadow: 3px 3px 6px #bbb;
}

