.description-text {
	font-family: Verdana;
	font-size: 16px;
	color: var(--color6);
}

.sections-text {
	font-family: Verdana;
	font-size: 24px;
	color: var(--color6);
}

.chart-position-text{
	color: var(--color6);
	font-family: Verdana;
}

.song-name {
	color: var(--color6);
	font-family: Verdana;
}

.song-author {
	font-family: Verdana;
	color: var(--color3);
}

.playlist-name {
	font-family: Verdana;
}

.playlist-name-link{
	font-family: Verdana;
}

.playlist-description {
	font-family: Verdana;
	font-size: 13px;
	color: var(--color3);
}

.genre-selector-label{
	font-family: Verdana;
}

.artist-text{
	font-family: Verdana;
	color: var(--color6);
}